<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>违法有害信息上报平台</title>
    <link rel="stylesheet" href="./stylesheet/common.css">
    <link rel="stylesheet" href="./stylesheet/layout.css">
    <link rel="stylesheet" href="./stylesheet/list.css">
</head>
<body>
    <header>
        <div>
            <img src="/imgs/qiniulogo.png" alt="">
            <p>违法有害信息上报平台</p>
        </div>
        <div id="navbar"></div>
    </header>

    <section>
        <div id="wa_list_filter_bar">
            <div>
                开始日期 <input id="wa_list_table_datefrom" type="date" onchange="changeConfig(event,'startDate')" /> 
                截止日期 <input id="wa_list_table_dateto" type="date" onchange="changeConfig(event,'endDate')" />
                <label for="wa_list_table_handled"><input id="wa_list_table_handled" type="checkbox" checked onchange="changeConfig(event,'handled')" />已处置</label>
                <label for="wa_list_table_unhandle"><input id="wa_list_table_unhandle" type="checkbox" checked onchange="changeConfig(event,'unhandle')" />待处置</label>
                <label for="wa_list_table_checkbox_pulp"><input id="wa_list_table_checkbox_pulp" type="checkbox" checked onchange="changeConfig(event,'pulp')" />涉黄</label>
                <label for="wa_list_table_checkbox_terror"><input id="wa_list_table_checkbox_terror" type="checkbox" checked onchange="changeConfig(event,'terror')" />涉暴</label>
                <label for="wa_list_table_checkbox_politician"><input id="wa_list_table_checkbox_politician" type="checkbox" checked onchange="changeConfig(event,'politician')" />涉政</label>
                <button id="wa_list_filter_submit" class="btn-primary" onclick="reloadData()">获取数据</button>
            </div>
            <!-- <div>
                <button id="wa_list_filter_export" class="btn-info" onclick="exportExcel('wa_list_table_export')">导出excel</button>
                <table id="wa_list_table_export" class="component-hidden"></table>
            </div> -->
        </div>
        
        <!-- <p id="wa_list_result_num">检索结果，共计：<span></span> 条记录</p> -->
        <div id="wa_list_table_container">
            <table id="wa_list_table"></table>
        </div>
    </section>

    <footer>
        <p>@copy right reserved by Qiniu</p>
    </footer>

    <div class="wa-modal-loading component-hidden">
        <img src="/imgs/loading.png" alt="">
    </div>

    <script src="./javascript/config.js"></script>
    <script src="./javascript/filesaver.min.js"></script>
    <script src="./javascript/operation.js"></script>
</body>
</html>